.servicios {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.servicios li a{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    
}
.servicios li img{
    transition: transform 0.2s ease-in-out;
}
.servicios li:hover img{
    transform: scale(1.2);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
